@model Dieta.Models.DISTANCIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DISTANCIA</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DESDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HASTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HASTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DD_Solicitudes.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DD_Solicitudes.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
