@model Dieta.Models.DD_GrupoOcupacional

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DD_GrupoOcupacional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESAYUNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESAYUNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALMUERZO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALMUERZO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOSPEDAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOSPEDAJE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
